<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="menu-bar" id="menu-bar">
        <ul class="succ-main" id="succ-main">
            <li class="succ-active" id="succ-mainoption"><a href="#">Home</a></li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">Logout</a></li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">Categories</a>
                <div class="menu1">
                    <ul>
                        <li><a href="#">Mobile Phones</a></li>
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Furnitures</a></li>
                        <li><a href="#">Dress</a></li>
                    </ul>
                </div>
            </li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">Orders</a>
                <div class="menu1">
                    <ul>
                        <li><a href="#">Order Details</a></li>
                        <li><a href="#">Order Summary</a></li>
                    </ul>
                </div>            
            </li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">Your Account</a>
                <div class="menu1">
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Address</a></li>
                        <li><a href="#">Bank Details</a></li>
                    </ul>
                </div>           
            </li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">About Us</a>
                <div class="menu1">
                    <ul>
                        <li><a href="https://www.amazon.in">Click Here</a></li>
                    </ul>
                </div>            
            </li>
            <li class="succ-mainoption" id="succ-mainoption"><a href="#">Contact us</a>
                <div class="menu1">
                    <ul>
                        <li><a href="https://www.facebook.com">Facebook</a></li>
                        <li><a href="https://www.instagram.com/">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/">Linkedin</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
